@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ff6f00; /* نارنجی */
    --text-color: #666666; /* طوسی */
    --background-color: #fed7aa; /* پس‌زمینه */
    --success-color: #4caf50; /* سبز */
    --error-color: #f44336; /* قرمز */
  }
}




