@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #FF6F00; /* نارنجی */
    --text-color: #666666; /* طوسی */
    --background-color: #F5F5F5; /* پس‌زمینه */
    --success-color: #4CAF50; /* سبز */
    --error-color: #F44336; /* قرمز */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-vazir;
}
